<%= link_to "投稿する", new_post_path, class: "post" %>
<% @posts.each do |post| %>
  <div class="posted-content">
      <% post.images[0..-1].each do |image| %>
        <div class="card">
          <div class="other-image">
            <%= image_tag image %>
          </div>
          <%= link_to '詳細', post_path(post.id), class: "post" %>
          <% if user_signed_in? && current_user.id == post.user_id %>
            <%= link_to '削除', post_path(post.id), method: :delete, class: "post" %>
           <% end %>
          <span class="name">
          <a href="/users/<%= post.user.id %>" style="text-decoration:none;">
            <span>投稿者</span><%= post.user.nickname %>
          </a>
          </span>
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </div>
      <%end%>  
  </div>
<% end %>